<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card shadow-sm">
      <div class="card-header">
        <h1 class="h4 mb-0">Edit Product</h1>
      </div>
      <div class="card-body">
        <%= render "form", product: @product %>
        <%= link_to "Cancel", @product, class: "btn btn-link text-muted ps-0 mt-2" %>
      </div>
    </div>
  </div>
</div>
