
<h1> the product page</h1>

<div>

    <h4> name : <%= @product.name %></h4>
    <h4> Created ID: <%= @product.created_at %></h4>
    <h4> Updated ID: <%= @product.updated_at %></h4>

</div>

<%= link_to "Back", products_path %>
